<?xml version="1.0" encoding="utf-8"?>

<!--
  ~ Copyright 2013 Wastl Kraus <derdoktor667@gmail.com>
  ~
  ~     Licensed under the Apache License, Version 2.0 (the "License");
  ~     you may not use this file except in compliance with the License.
  ~     You may obtain a copy of the License at
  ~
  ~         http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~     Unless required by applicable law or agreed to in writing, software
  ~     distributed under the License is distributed on an "AS IS" BASIS,
  ~     WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~     See the License for the specific language governing permissions and
  ~     limitations under the License.
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.derdoktor667.dev.thematrix"
    android:installLocation="auto"
    android:versionCode="1099"
    android:versionName="See version.properties">

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="18" />

    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.NETWORK" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/TheMatrix.Compat.Universal.Theme"
        android:backupAgent="com.derdoktor667.dev.thematrix.BackupAgent"
        android:hardwareAccelerated="true"
        android:uiOptions="splitActionBarWhenNarrow">

        <activity
            android:name=".TheMainActivity"
            android:label="@string/app_name"
            android:theme="@style/TheMatrix.Compat.Universal.Theme"
            android:uiOptions="splitActionBarWhenNarrow"
            android:configChanges="keyboardHidden|orientation|screenSize">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <!-- ...the Facebook Login Part like provided by the SDK -->
        <activity
            android:name="com.facebook.LoginActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <!-- ...the Facebook API Key -->
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <!-- ...the Google BackupAgent Key -->
        <meta-data
            android:name="com.google.android.backup.api_key"
            android:value="@string/backup_agent_key_string" />

    </application>

</manifest>
