#
# Copyright 2013 Wastl Kraus <derdoktor667@gmail.com>
#
#     Licensed under the Apache License, Version 2.0 (the "License");
#     you may not use this file except in compliance with the License.
#     You may obtain a copy of the License at
#
#         http://www.apache.org/licenses/LICENSE-2.0
#
#     Unless required by applicable law or agreed to in writing, software
#     distributed under the License is distributed on an "AS IS" BASIS,
#     WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
#     See the License for the specific language governing permissions and
#     limitations under the License.
#

VERSION_NAME=1.1.0.5
VERSION_CODE=1105
PACKAGE_NAME=com.derdoktor667.dev.thematrix
GROUP=com.derdoktor667.dev.thematrix
STORE=/path/to/your/signed/Keystore
ALIAS=your_keystoreUserName
KEY=your_Store_Key